spring:
  application:
    name: user-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/chat
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yml
    enabled: true
  datasource:
    username: root
    password: root
    url: jdbc:postgresql://localhost:5434/user_service
    driver-class-name: org.postgresql.Driver
  jpa:
    show_sql: true
    properties:
      hibernate:

server:
  port: 0
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
